* {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: border-box;
}

body {
    text-align: center;
    min-height: 100vh;
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    color: #f370a6;
    margin-top: 250px;
}

h2 {
    color: #d6a6ba;
}

button {
    width: 200px;
    height: 75px;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    display: flex;
    border: none;
    background-color: #f370a6;
    border-radius: 10px;
    transition: ease-out 0.2s;
    color: #ffffff;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

button:hover{
    box-shadow: inset 200px 0 0 0 #f58db8;
    cursor: pointer;
}